section.section.STAFF 
    .index-block.index-block--delimiter.index-block--tb-p80
        .staff-list
            .maxwidth-theme
                .index-block__subtitle Люди, которые всегда помогут
                .index-block__title-wrapper
                    .index-block__part--left
                        h3.index-block__title.title_700 Наши специалисты
                    .index-block__part--right.fill--dark
                        a.index-block__link.text--dark(
                            href="/services/"
                            title="Перейти в раздел"
                            ) Все специалисты центра  
                        span.index-block__arrow
                            i.svg
                                svg(width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1 1L4 4L1 7" stroke="#CACACA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                .index-block__preview Попасть в команду «Аспро: Медицинский центр» могут только лучшие специалисты с многолетней практикой и доказанным опытом. Наши врачи не только лечат. Они помогают сохранить здоровье и находят подход и к взрослым, и детям.
            .maxwidth-theme.staff-carousell-inner
                .staff-carousell.staffSlider
                    .staff-carousell-wrapper.swiper-wrapper
                        .staff-carousell__item.swiper-slide 
                            .staff-list__item
                                .staff-list__item-image-wrapper 
                                    .staff-list__item-image 
                                    a.staff-list__item-link(href="#") 
                                .staff-list__item-additional-text-wrapper
                                    .staff-list__item-company.font_13 Главный врач
                                    .staff-list__item-title.font_20 Михаил Викторович Ростовцев
                                .staff-list__item-text-wrapper
                                    .item-text-wrapper
                                        .staff-list__item-text-top-part
                                            .staff-list__item-company.font_13 Главный врач
                                            a.text--dark(href="#") 
                                                .staff-list__item-title.title_700.font_20 Михаил Викторович Ростовцев
                                            .staff-list__info-wrapper
                                                .staff-list__item-props
                                                    .staff-list__item-prop
                                                        .staff-list__item-prop-title.font_13 Телефон
                                                        a.staff-list__item-phone.font_14.text--dark(
                                                            rel="nofollow" 
                                                            href="tel:+70000000000" 
                                                        ) +7 (000) 000-00-00
                                                    .staff-list__item-prop
                                                    .staff-list__item-prop-title.font_13 E-mail
                                                        a.staff-list__item-phone.font_14.text--dark(
                                                            rel="nofollow" 
                                                            href="mailto:mail@medc.allcorp3-demo.ru" 
                                                        ) mail@medc.allcorp3-demo.ru
                                        .staff-list__item-text-bottom-part
                                            .staff-list__item-button
                                                .btn.btn-default.btn-posnawr(data-event="") Запись онлайн
                                                    span
                        .staff-carousell__item.swiper-slide 2
                        .staff-carousell__item.swiper-slide 3

                .staff-carousell-navigation 
                    .mS-btn.mS-btn.mS-btn.mS-btn.prev
                        i.mS-btn.prev--left
                            svg(width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M6 1L1 6L6 11" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    .mS-btn.mS-btn.mS-btn-next
                        i.mS-btn-next--rigth
                            svg(width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M6 1L1 6L6 11" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")