doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1"
		)
		title= "Медицинский центр \"Ладья\""
		link(
			rel="stylesheet",
			href="css/style.min.css"
		)
	body
		include ../pug-parts/header/header.pug

		main.main
			.container
				include ../pug-parts/index/big-banner-index/big-banner-index.pug
				include ../pug-parts/index/tizers/tizers.pug
				include ../pug-parts/index/services/services.pug
				include ../pug-parts/index/company-text/company-text.pug
				

		include ../pug-parts/footer/footer.pug

