.header-fixed.header-fixed-js
    .header__inner
        .header__top-part 
            .header__top-inner 
                .header__top-item
                    .line-block 
                        .line-block__item 
                            .logo 
                                a(href="/") 
                                    include ../../img/header/logo.svg
                .header__top-item.header-menu
                    .mega-menu
                        .header-menu__wrapper 
                            .header-menu__item
                                a.header-menu__link.text--dark(href="/services/")
                                    span.header-menu__title Услуги
                                .header-menu__dropdown-menu.header-menu__dropdown-menu--fullW
                                    .mega-menu__section
                                        .mega-menu__section_container 
                                            .dropdown.dropdown--relative 
                                                .header-menu__wide-limiter 
                                                    ul.header-menu__dropdown-menu-inner.header-menu__dropdown-menu-grids 
                                                        li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT 
                                                            .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                a(href="/services/vzrosloe-otdelenie/") 
                                                                    img.lazyloaded(
                                                                        src="./img/header/servicesDrop1.webp", 
                                                                        alt="Взрослое отделение",
                                                                        title="Взрослое отделение"
                                                                    )
                                                            .header-menu__wide-item-wrapper
                                                                a.switcher-title.text--dark(href="/services/vzrosloe-otdelenie/") 
                                                                    span Взрослое отделение
                                                                ul.header-menu__wide-submenu
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/services/vzrosloe-otdelenie/vedenie-beremennosti/") 
                                                                                span.header-menu__wide-submenu-item-name Ведение беременности
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/services/vzrosloe-otdelenie/gastroenterologiya/") 
                                                                                span.header-menu__wide-submenu-item-name Гастроэнтерология
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/services/vzrosloe-otdelenie/kardiologiya/") 
                                                                                span.header-menu__wide-submenu-item-name Кардиология
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/services/vzrosloe-otdelenie/terapiya/") 
                                                                                span.header-menu__wide-submenu-item-name Терапия
                                                        li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT 
                                                            .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                a(href="/services/detskoe-otdelenie/") 
                                                                    img.lazyloaded(
                                                                        src="./img/header/servicesDrop2.webp", 
                                                                        alt="Детское отделение",
                                                                        title="Детское отделение"
                                                                    )
                                                            .header-menu__wide-item-wrapper
                                                                a.switcher-title.text--dark(href="/services/detskoe-otdelenie/") 
                                                                    span Детское отделение
                                                                ul.header-menu__wide-submenu
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/services/detskoe-otdelenie/pediatriya/") 
                                                                                span.header-menu__wide-submenu-item-name Педиатрия
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/services/detskoe-otdelenie/detskiy-oftalmolog/") 
                                                                                span.header-menu__wide-submenu-item-name Офтальмолог
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/services/detskoe-otdelenie/khirurg-ortoped/") 
                                                                                span.header-menu__wide-submenu-item-name Хирург-ортопед
                                                        li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT 
                                                            .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                a(href="/services/skoraya-pomoshch/") 
                                                                    img.lazyloaded(
                                                                        src="./img/header/servicesDrop3.webp", 
                                                                        alt="Врач на дом",
                                                                        title="Врач на дом"
                                                                    )
                                                            .header-menu__wide-item-wrapper
                                                                a.switcher-title.text--dark(href="/services/skoraya-pomoshch/") 
                                                                    span Врач на дом
                                                                ul.header-menu__wide-submenu
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/services/skoraya-pomoshch/skoraya-pomoshch/") 
                                                                                span.header-menu__wide-submenu-item-name Срочный вызов врача
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/services/skoraya-pomoshch/vyzov-vracha-na-dom/") 
                                                                                span.header-menu__wide-submenu-item-name Вызов врача на дом
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/services/skoraya-pomoshch/statsionar-na-domu/") 
                                                                                span.header-menu__wide-submenu-item-name Стационар на дому
                                                        li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT 
                                                            .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                a(href="/services/diagnostika/") 
                                                                    img.lazyloaded(
                                                                        src="./img/header/servicesDrop4.webp", 
                                                                        alt="Диагностика",
                                                                        title="Диагностика"
                                                                    )
                                                            .header-menu__wide-item-wrapper
                                                                a.switcher-title.text--dark(href="/services/diagnostika/") 
                                                                    span Диагностика
                                                                ul.header-menu__wide-submenu
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/services/diagnostika/analiz-krovi/") 
                                                                                span.header-menu__wide-submenu-item-name Анализы
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/services/diagnostika/uzi/") 
                                                                                span.header-menu__wide-submenu-item-name УЗИ и рентген
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/services/diagnostika/Endoscopy/") 
                                                                                span.header-menu__wide-submenu-item-name Эндоскопия
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/services/diagnostika/kompleksnoe-obsledovanie/") 
                                                                                span.header-menu__wide-submenu-item-name Комплексное обследование
                            
                            .header-menu__item
                                a.header-menu__link.text--dark(href="/product/")
                                    span.header-menu__title Каталог
                                .header-menu__dropdown-menu.header-menu__dropdown-menu--fullW
                                    .mega-menu__section
                                        .mega-menu__section_container 
                                            .dropdown.dropdown--relative 
                                                .header-menu__wide-limiter
                                                    .header-menu__wide-right-part
                                                        .side_banners
                                                            .swiper.mySwiper
                                                                .swiper-wrapper 
                                                                    .swiper-slide 
                                                                        a.slide-link(href="/product/sluh-apparats/" ) 
                                                                            img.link__img-size(src="./img/header/sluh-apparats.webp", alt="Слуховые аппараты на все случаи жизни")
                                                                            .slide-title Слуховые аппараты на все случаи жизни
                                                                    .swiper-slide 
                                                                        a.slide-link(href="/product/sluh-apparats/") 
                                                                            img.link__img-size(src="./img/header/optica-apparats.webp", alt="Мужская, женская и детская оптика")
                                                                            .slide-title Мужская, женская и детская оптика
                                                                .swiper-controller__inline
                                                                    .swiper-pagination 
                                                                    .swiper-button.swiper-button-next
                                                                        svg(width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                                            path(d="M6 1L1 6L6 11" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                                                    .swiper-button.swiper-button-prev
                                                                        svg(width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                                            path(d="M6 1L1 6L6 11" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                                    ul.header-menu__dropdown-menu-inner.header-menu__dropdown-menu-grids 
                                                        li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT 
                                                            .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                a(href="/product/dom-med-teh/") 
                                                                    img.lazyloaded(
                                                                        src="./img/header/catalogDrop1.webp", 
                                                                        alt="Домашняя медицинская техника",
                                                                        title="Домашняя медицинская техника"
                                                                    )
                                                            .header-menu__wide-item-wrapper
                                                                a.switcher-title.text--dark(href="/product/dom-med-teh/") 
                                                                    span Домашняя медицинская техника
                                                                ul.header-menu__wide-submenu
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/inalyatory/") 
                                                                                span.header-menu__wide-submenu-item-name Ингаляторы
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/stetoskopy/") 
                                                                                span.header-menu__wide-submenu-item-name Стетоскопы
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/termoetry/") 
                                                                                span.header-menu__wide-submenu-item-name Термометры
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/tonometry/") 
                                                                                span.header-menu__wide-submenu-item-name Тонометры 
                                                        li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT 
                                                            .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                a(href="/product/dom-med-teh/") 
                                                                    img.lazyloaded(
                                                                        src="./img/header/catalogDrop1.webp", 
                                                                        alt="Домашняя медицинская техника",
                                                                        title="Домашняя медицинская техника"
                                                                    )
                                                            .header-menu__wide-item-wrapper
                                                                a.switcher-title.text--dark(href="/product/dom-med-teh/") 
                                                                    span Домашняя медицинская техника
                                                                ul.header-menu__wide-submenu
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/inalyatory/") 
                                                                                span.header-menu__wide-submenu-item-name Ингаляторы
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/stetoskopy/") 
                                                                                span.header-menu__wide-submenu-item-name Стетоскопы
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/termoetry/") 
                                                                                span.header-menu__wide-submenu-item-name Термометры
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/tonometry/") 
                                                                                span.header-menu__wide-submenu-item-name Тонометры 
                                                        li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT 
                                                            .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                a(href="/product/dom-med-teh/") 
                                                                    img.lazyloaded(
                                                                        src="./img/header/catalogDrop1.webp", 
                                                                        alt="Домашняя медицинская техника",
                                                                        title="Домашняя медицинская техника"
                                                                    )
                                                            .header-menu__wide-item-wrapper
                                                                a.switcher-title.text--dark(href="/product/dom-med-teh/") 
                                                                    span Домашняя медицинская техника
                                                                ul.header-menu__wide-submenu
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/inalyatory/") 
                                                                                span.header-menu__wide-submenu-item-name Ингаляторы
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/stetoskopy/") 
                                                                                span.header-menu__wide-submenu-item-name Стетоскопы
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/termoetry/") 
                                                                                span.header-menu__wide-submenu-item-name Термометры
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/tonometry/") 
                                                                                span.header-menu__wide-submenu-item-name Тонометры 
                                                        li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT 
                                                            .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                a(href="/product/dom-med-teh/") 
                                                                    img.lazyloaded(
                                                                        src="./img/header/catalogDrop1.webp", 
                                                                        alt="Домашняя медицинская техника",
                                                                        title="Домашняя медицинская техника"
                                                                    )
                                                            .header-menu__wide-item-wrapper
                                                                a.switcher-title.text--dark(href="/product/dom-med-teh/") 
                                                                    span Домашняя медицинская техника
                                                                ul.header-menu__wide-submenu
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/inalyatory/") 
                                                                                span.header-menu__wide-submenu-item-name Ингаляторы
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/stetoskopy/") 
                                                                                span.header-menu__wide-submenu-item-name Стетоскопы
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/termoetry/") 
                                                                                span.header-menu__wide-submenu-item-name Термометры
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/tonometry/") 
                                                                                span.header-menu__wide-submenu-item-name Тонометры 
                                                        li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT 
                                                            .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                a(href="/product/dom-med-teh/") 
                                                                    img.lazyloaded(
                                                                        src="./img/header/catalogDrop1.webp", 
                                                                        alt="Домашняя медицинская техника",
                                                                        title="Домашняя медицинская техника"
                                                                    )
                                                            .header-menu__wide-item-wrapper
                                                                a.switcher-title.text--dark(href="/product/dom-med-teh/") 
                                                                    span Домашняя медицинская техника
                                                                ul.header-menu__wide-submenu
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/inalyatory/") 
                                                                                span.header-menu__wide-submenu-item-name Ингаляторы
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/stetoskopy/") 
                                                                                span.header-menu__wide-submenu-item-name Стетоскопы
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/termoetry/") 
                                                                                span.header-menu__wide-submenu-item-name Термометры
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/tonometry/") 
                                                                                span.header-menu__wide-submenu-item-name Тонометры 
                                                        li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT 
                                                            .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                a(href="/product/dom-med-teh/") 
                                                                    img.lazyloaded(
                                                                        src="./img/header/catalogDrop1.webp", 
                                                                        alt="Домашняя медицинская техника",
                                                                        title="Домашняя медицинская техника"
                                                                    )
                                                            .header-menu__wide-item-wrapper
                                                                a.switcher-title.text--dark(href="/product/dom-med-teh/") 
                                                                    span Домашняя медицинская техника
                                                                ul.header-menu__wide-submenu
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/inalyatory/") 
                                                                                span.header-menu__wide-submenu-item-name Ингаляторы
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/stetoskopy/") 
                                                                                span.header-menu__wide-submenu-item-name Стетоскопы
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/termoetry/") 
                                                                                span.header-menu__wide-submenu-item-name Термометры
                                                                    li.header-menu__wide-submenu-item
                                                                        span.header-menu__wide-submenu-item-inner
                                                                            a.submenu-link.text--dark(href="/product/dom-med-teh/tonometry/") 
                                                                                span.header-menu__wide-submenu-item-name Тонометры 
                            
                            .header-menu__item
                                a.header-menu__link.text--dark(href="/news/")
                                    span.header-menu__title Новости
                            .header-menu__item
                                a.header-menu__link.text--dark(href="/sales/")
                                    span.header-menu__title Акции
                            .header-menu__item
                                a.header-menu__link.text--dark(href="/price/")
                                    span.header-menu__title Цены
                                .header-menu__dropdown-menu-lists
                                    .dropdown 
                                        ul.header-menu__dropdown-menu-inner 
                                            li.header-menu__dropdown-item.header-menu__dropdown-item--with-dropdown 
                                                a.submenu-link.text--dark(href="#") Анализы
                                                    i.svg.inline.svg-inline.header-menu__dropdown-right-arrow
                                                        svg.fill-dark(
                                                            width="3" 
                                                            height="5" 
                                                            viewBox="0 0 3 5" 
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            )
                                                            path(d="M3 2.5L0 5L0 0L3 2.5Z")
                                                .header-menu__dropdown-menu-lists.header-menu__dropdown-menu--submenu
                                                    ul.dropdown 
                                                        li.header-menu__dropdown-item
                                                            a.text--dark(href="#") Популярные анализы
                                                        li.header-menu__dropdown-item
                                                            a.text--dark(href="#") Популярные анализы
                                                        li.header-menu__dropdown-item
                                                            a.text--dark(href="#") Популярные анализы
                                                        li.header-menu__dropdown-item
                                                            a.text--dark(href="#") Популярные анализы
                                                        li.header-menu__dropdown-item
                                                            a.text--dark(href="#") Популярные анализы
                                                        li.header-menu__dropdown-item
                                                            a.text--dark(href="#") Популярные анализы
                                            li.header-menu__dropdown-item.header-menu__dropdown-item--with-dropdown 
                                                a.submenu-link.text--dark(href="#") Ведение беременности

                            .header-menu__item
                                a.header-menu__link.text--dark(href="/company/")
                                    span.header-menu__title Клиника
                                .header-menu__dropdown-menu-lists
                                    .dropdown 
                                        ul.header-menu__dropdown-menu-inner 
                                            li.header-menu__dropdown-item.header-menu__dropdown-item--with-dropdown 
                                                a.submenu-link.text--dark(href="#") Анализы
                                                    i.svg.inline.svg-inline.header-menu__dropdown-right-arrow
                                                        svg.fill-dark(
                                                            width="3" 
                                                            height="5" 
                                                            viewBox="0 0 3 5" 
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            )
                                                            path(d="M3 2.5L0 5L0 0L3 2.5Z")
                                                .header-menu__dropdown-menu-lists.header-menu__dropdown-menu--submenu
                                                    ul.dropdown 
                                                        li.header-menu__dropdown-item
                                                            a.text--dark(href="#") Популярные анализы
                                                        li.header-menu__dropdown-item
                                                            a.text--dark(href="#") Популярные анализы
                                                        li.header-menu__dropdown-item
                                                            a.text--dark(href="#") Популярные анализы
                                                        li.header-menu__dropdown-item
                                                            a.text--dark(href="#") Популярные анализы
                                                        li.header-menu__dropdown-item
                                                            a.text--dark(href="#") Популярные анализы
                                                        li.header-menu__dropdown-item
                                                            a.text--dark(href="#") Популярные анализы
                                            li.header-menu__dropdown-item.header-menu__dropdown-item--with-dropdown 
                                                a.submenu-link.text--dark(href="#") Ведение беременности
                            .header-menu__item
                                a.header-menu__link.text--dark(href="/company/staff/")
                                    span.header-menu__title Специалисты
                                .header-menu__dropdown-menu-lists
                                    .dropdown 
                                        ul.header-menu__dropdown-menu-inner 
                                            li.header-menu__dropdown-item.header-menu__dropdown-item--with-dropdown 
                                                a.submenu-link.text--dark(href="#") Анализы
                                            li.header-menu__dropdown-item.header-menu__dropdown-item--with-dropdown 
                                                a.submenu-link.text--dark(href="#") Ведение беременности
                            .header-menu__item
                                a.header-menu__link.text--dark(href="/contacts/")
                                    span.header-menu__title Контакты
                .header__top-item
                    .line-block
                        .line-block__item
                            .header-eyed(title="Версия для слабовидящих")
                                i.svg.inline.svg-inline
                                    svg.fill--dark.eyed-hidden(
                                        width="20" 
                                        height="18" 
                                        viewBox="0 0 20 18" 
                                        xmlns="http://www.w3.org/2000/svg"
                                        )   
                                        path(
                                            fill-rule="evenodd" 
                                            clip-rule="evenodd" 
                                            d="M4.5 16C5.88071 16 7 14.8807 7 13.5C7 12.1193 5.88071 11 4.5 11C3.11929 11 2 12.1193 2 13.5C2 14.8807 3.11929 16 4.5 16ZM4.5 18C6.98528 18 9 15.9853 9 13.5C9 11.0147 6.98528 9 4.5 9C2.01472 9 0 11.0147 0 13.5C0 15.9853 2.01472 18 4.5 18Z"
                                            )
                                        path(
                                            fill-rule="evenodd" 
                                            clip-rule="evenodd" 
                                            d="M15.5 16C16.8807 16 18 14.8807 18 13.5C18 12.1193 16.8807 11 15.5 11C14.1193 11 13 12.1193 13 13.5C13 14.8807 14.1193 16 15.5 16ZM15.5 18C17.9853 18 20 15.9853 20 13.5C20 11.0147 17.9853 9 15.5 9C13.0147 9 11 11.0147 11 13.5C11 15.9853 13.0147 18 15.5 18Z"
                                            )
                                        path(
                                            fill-rule="evenodd" 
                                            clip-rule="evenodd" 
                                            d="M12 14H8V12H12V14Z"
                                            )
                                        path(
                                            fill-rule="evenodd" 
                                            clip-rule="evenodd" 
                                            d="M5 2C3.34315 2 2 3.34315 2 5V13H0V5C0 2.23858 2.23858 0 5 0H6C6.55228 0 7 0.447715 7 1C7 1.55228 6.55228 2 6 2H5Z"
                                            )
                                        path(
                                            fill-rule="evenodd" 
                                            clip-rule="evenodd" 
                                            d="M15 2C16.6569 2 18 3.34315 18 5V13H20V5C20 2.23858 17.7614 0 15 0H14C13.4477 0 13 0.447715 13 1C13 1.55228 13.4477 2 14 2H15Z"
                                            )
                        .line-block__item
                            .header-search(title="Поиск") 
                                i.svg.inline.svg-inline 
                                    svg.fill--dark(
                                        width="19" 
                                        height="19" 
                                        viewBox="0 0 19 19" 
                                        xmlns="http://www.w3.org/2000/svg"
                                        )
                                        path(
                                            fill-rule="evenodd" 
                                            clip-rule="evenodd" 
                                            d="M8.99805 0.00244141C4.57977 0.00244141 0.998047 3.58416 0.998047 8.00244C0.998047 12.4207 4.57977 16.0024 8.99805 16.0024C10.8468 16.0024 12.549 15.3754 13.9037 14.3223L17.2909 17.7095C17.6815 18.1001 18.3146 18.1001 18.7052 17.7095C19.0957 17.319 19.0957 16.6859 18.7052 16.2953L15.3179 12.9081C16.371 11.5534 16.998 9.85115 16.998 8.00244C16.998 3.58416 13.4163 0.00244141 8.99805 0.00244141ZM2.99805 8.00244C2.99805 4.68873 5.68434 2.00244 8.99805 2.00244C12.3118 2.00244 14.998 4.68873 14.998 8.00244C14.998 11.3161 12.3118 14.0024 8.99805 14.0024C5.68434 14.0024 2.99805 11.3161 2.99805 8.00244Z"
                                            )
                        .line-block__item
                            .header-cabinet 
                                a.header-cabinet__link(
                                    title="Войти"
                                    href="/cabinet/"
                                    )
                                    i.svg.inline.svg-inline
                                        svg.fill--dark(
                                            width="18" 
                                            height="19" 
                                            viewBox="0 0 18 19" 
                                            xmlns="http://www.w3.org/2000/svg"
                                            )
                                            path(
                                                fill-rule="evenodd" 
                                                clip-rule="evenodd" 
                                                d="M0 7.00244C0 3.13645 3.13401 0.00244141 7 0.00244141H11C14.866 0.00244141 18 3.13645 18 7.00244V11.0024C18 14.8684 14.866 18.0024 11 18.0024H7C3.13401 18.0024 0 14.8684 0 11.0024V7.00244ZM7 2.00244C4.23858 2.00244 2 4.24102 2 7.00244V11.0024C2 12.2874 2.48473 13.4592 3.28131 14.3449C3.81254 12.8325 5.05024 11.6528 6.59842 11.2015C5.62776 10.4717 5 9.31039 5 8.00244C5 5.7933 6.79086 4.00244 9 4.00244C11.2091 4.00244 13 5.7933 13 8.00244C13 9.31039 12.3722 10.4717 11.4016 11.2015C12.9498 11.6528 14.1875 12.8325 14.7187 14.3449C15.5153 13.4592 16 12.2874 16 11.0024V7.00244C16 4.24102 13.7614 2.00244 11 2.00244H7ZM7 16.0024C6.29934 16.0024 5.63233 15.8583 5.02702 15.5981C5.22447 14.1325 6.48027 13.0024 8 13.0024H10C11.5197 13.0024 12.7755 14.1325 12.973 15.5981C12.3677 15.8583 11.7007 16.0024 11 16.0024H7ZM7 8.00244C7 6.89787 7.89543 6.00244 9 6.00244C10.1046 6.00244 11 6.89787 11 8.00244C11 9.10701 10.1046 10.0024 9 10.0024C7.89543 10.0024 7 9.10701 7 8.00244Z"
                                                )
                        .line-block__item 
                            .header-button
                                .btn.btn-default.btn-posnawr(data-name="callback") Запись онлайн
                                    span 
