.header-fixed.header-fixed-js
    .header__inner
        .header__top-part 
            .header__top-inner 
                .header__top-item
                    .line-block 
                        .line-block__item 
                            .header__logo.colored
                                a.logo__link(href="/")
                                    img.logo(src="img/header/logo.webp", alt="Медицинский центр \"Ладья\"")
                .header__top-item.header-menu
                    .mega-menu
                        .header-menu__wrapper
                                .header-menu__item
                                    a.header-menu__link.text--dark(href="/services/")
                                        span.header-menu__title Услуги
                                    .header-menu__dropdown-menu.header-menu__dropdown-menu--fullW
                                        .mega-menu__section
                                            .mega-menu__section_container 
                                                .dropdown.dropdown--relative 
                                                    .header-menu__wide-limiter 
                                                        ul.header-menu__dropdown-menu-inner.header-menu__dropdown-menu-grids 
                                                            li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT 
                                                                .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                    a(href="#")
                                                                        img.lazyloaded(
                                                                            src="./img/header/servicesDrop1.webp", 
                                                                            alt="Профосмотры",
                                                                            title="Профосмотры"
                                                                        )
                                                                .header-menu__wide-item-wrapper
                                                                    a.switcher-title.text--dark(href="#")
                                                                        span Профосмотры
                                                                    ul.header-menu__wide-submenu
                                                                        li.header-menu__wide-submenu-item
                                                                            span.header-menu__wide-submenu-item-inner
                                                                                a.submenu-link.text--dark(href="#")
                                                                                    span.header-menu__wide-submenu-item-name Цель профосмотра


                                                            li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT
                                                                .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                    a(href="#")
                                                                        img.lazyloaded(
                                                                            src="./img/header/servicesDrop2.webp", 
                                                                            alt="медицинское освидетельствование",
                                                                            title="медицинское освидетельствование"
                                                                        )
                                                                .header-menu__wide-item-wrapper
                                                                    a.switcher-title.text--dark(href="#")
                                                                        span Медицинское освидетельствование
                                                                    ul.header-menu__wide-submenu
                                                                        li.header-menu__wide-submenu-item
                                                                            span.header-menu__wide-submenu-item-inner
                                                                                a.submenu-link.text--dark(href="#")
                                                                                    span.header-menu__wide-submenu-item-name Для мигрантов
                                                                        li.header-menu__wide-submenu-item
                                                                            span.header-menu__wide-submenu-item-inner
                                                                                a.submenu-link.text--dark(href="#")
                                                                                    span.header-menu__wide-submenu-item-name Для несовершеннолетних мигрантов
                                                            li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT 
                                                                .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                    a(href="#")
                                                                        img.lazyloaded(
                                                                            src="./img/header/servicesDrop3.webp", 
                                                                            alt="Выездные медкомиссии",
                                                                            title="Выездные медкомиссии"
                                                                        )
                                                                .header-menu__wide-item-wrapper
                                                                    a.switcher-title.text--dark(href="#")
                                                                        span Выездные медкомиссии
                                                                    ul.header-menu__wide-submenu

                                                                        li.header-menu__wide-submenu-item
                                                                            span.header-menu__wide-submenu-item-inner
                                                                                a.submenu-link.text--dark(href="#")
                                                                                    span.header-menu__wide-submenu-item-name Стационар на дому
                                                            li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT 
                                                                .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                    a(href="#")
                                                                        img.lazyloaded(
                                                                            src="./img/header/servicesDrop4.webp", 
                                                                            alt="Санитарные книжки",
                                                                            title="Санитарные книжки"
                                                                        )
                                                                .header-menu__wide-item-wrapper
                                                                    a.switcher-title.text--dark(href="#")
                                                                        span Санитарные книжки
                                                                    ul.header-menu__wide-submenu
                                                                        li.header-menu__wide-submenu-item
                                                                            span.header-menu__wide-submenu-item-inner
                                                                                a.submenu-link.text--dark(href="#")
                                                                                    span.header-menu__wide-submenu-item-name Санитарные книжки
                                                                        li.header-menu__wide-submenu-item
                                                                            span.header-menu__wide-submenu-item-inner
                                                                                a.submenu-link.text--dark(href="#")
                                                                                    span.header-menu__wide-submenu-item-name Санитарные книжки
                                                            li.header-menu__dropdown-item.header-menu__dropdown-item--img-LEFT
                                                                .header-menu__dropdown-item-img.header-menu__dropdown-item-img--LEFT
                                                                    a(href="#")
                                                                        img.lazyloaded(
                                                                            src="./img/header/servicesDrop1.webp",
                                                                            alt="Медицинская справки",
                                                                            title="Медицинская справки"
                                                                        )
                                                                .header-menu__wide-item-wrapper
                                                                    a.switcher-title.text--dark(href="#")
                                                                        span Медицинская справки
                                                                    ul.header-menu__wide-submenu
                                                                        li.header-menu__wide-submenu-item
                                                                            span.header-menu__wide-submenu-item-inner
                                                                                a.submenu-link.text--dark(href="#")
                                                                                    span.header-menu__wide-submenu-item-name Справки
                                                                        li.header-menu__wide-submenu-item
                                                                            span.header-menu__wide-submenu-item-inner
                                                                                a.submenu-link.text--dark(href="#")
                                                                                    span.header-menu__wide-submenu-item-name Психиатрическое освидетельствование
                                                                        li.header-menu__wide-submenu-item
                                                                            span.header-menu__wide-submenu-item-inner
                                                                                a.submenu-link.text--dark(href="#")
                                                                                    span.header-menu__wide-submenu-item-name Санитарные книжки

                                .header-menu__item
                                    a.header-menu__link.text--dark(href="/news/")
                                        span.header-menu__title Новости
                                .header-menu__item
                                    a.header-menu__link.text--dark(href="/sales/")
                                        span.header-menu__title Акции
                                .header-menu__item
                                    a.header-menu__link.text--dark(href="/price/")
                                        span.header-menu__title Цены
                                    .header-menu__dropdown-menu-lists
                                        .dropdown 
                                            ul.header-menu__dropdown-menu-inner 
                                                li.header-menu__dropdown-item.header-menu__dropdown-item--with-dropdown 
                                                    a.submenu-link.text--dark(href="#") Профосмотры
                                                        i.svg.inline.svg-inline.header-menu__dropdown-right-arrow
                                                            svg.fill-dark(
                                                                width="3" 
                                                                height="5" 
                                                                viewBox="0 0 3 5" 
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                )
                                                                path(d="M3 2.5L0 5L0 0L3 2.5Z")
                                                    .header-menu__dropdown-menu-lists.header-menu__dropdown-menu--submenu
                                                        ul.dropdown 
                                                            li.header-menu__dropdown-item
                                                                a.text--dark(href="#") Мужчины
                                                            li.header-menu__dropdown-item
                                                                a.text--dark(href="#") Женщины до 40 лет
                                                            li.header-menu__dropdown-item
                                                                a.text--dark(href="#") Женщины после 40 лет

                                                li.header-menu__dropdown-item.header-menu__dropdown-item--with-dropdown 
                                                    a.submenu-link.text--dark(href="#") Оформление медю книжки
                                                li.header-menu__dropdown-item.header-menu__dropdown-item--with-dropdown
                                                    a.submenu-link.text--dark(href="#") Анализы
                                                li.header-menu__dropdown-item.header-menu__dropdown-item--with-dropdown
                                                    a.submenu-link.text--dark(href="#") Медицинское освидетельствование
                                                        i.svg.inline.svg-inline.header-menu__dropdown-right-arrow
                                                            svg.fill-dark(
                                                                width="3"
                                                                height="5"
                                                                viewBox="0 0 3 5"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                            )
                                                                path(d="M3 2.5L0 5L0 0L3 2.5Z")
                                                    .header-menu__dropdown-menu-lists.header-menu__dropdown-menu--submenu
                                                        ul.dropdown
                                                            li.header-menu__dropdown-item
                                                                a.text--dark(href="#") Для мигрантов
                                                            li.header-menu__dropdown-item
                                                                a.text--dark(href="#") Для несовершеннолетних мигрантов


                                .header-menu__item
                                    a.header-menu__link.text--dark(href="/company/")
                                        span.header-menu__title Клиника
                                    .header-menu__dropdown-menu-lists
                                        .dropdown 
                                            ul.header-menu__dropdown-menu-inner 
                                                li.header-menu__dropdown-item.header-menu__dropdown-item--with-dropdown 
                                                    a.submenu-link.text--dark(href="/company.html") О клинике
                                                li.header-menu__dropdown-item.header-menu__dropdown-item--with-dropdown 
                                                    a.submenu-link.text--dark(href="/faq.html") Вопросы и ответы
                                                li.header-menu__dropdown-item.header-menu__dropdown-item--with-dropdown
                                                    a.submenu-link.text--dark(href="#") Вакансии
                                                li.header-menu__dropdown-item.header-menu__dropdown-item--with-dropdown
                                                    a.submenu-link.text--dark(href="#") Отзывы
                                .header-menu__item
                                    a.header-menu__link.text--dark(href="/contacts/")
                                        span.header-menu__title Контакты
                .header__top-item
                    .line-block
                        .line-block__item
                            .phones__inner
                                span.icon-block__only-icon
                                    i.svg.inline.svg-inline-region
                                        svg.fill--dark(width="14" height="18" viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M6.63104 7.97841C6.80463 8.37048 7.0041 8.78717 7.15518 9.07225C7.27009 9.28907 7.49877 9.67951 7.75313 10.0735C7.76214 10.0675 7.77119 10.0616 7.78029 10.0557C8.42453 9.63686 9.0857 9.68158 9.33213 9.70774C9.65095 9.7416 9.94005 9.82627 10.1562 9.90146C10.5996 10.0556 11.0572 10.2844 11.4507 10.5088C11.8534 10.7384 12.2607 11.0047 12.6067 11.2698C12.7791 11.4018 12.9587 11.5506 13.1228 11.7095C13.2598 11.8422 13.4996 12.0889 13.6819 12.4208C13.9567 12.9214 13.9912 13.4324 13.9984 13.6733C14.0076 13.9837 13.9774 14.2994 13.9216 14.5917C13.8662 14.8818 13.7732 15.2138 13.6215 15.5388C13.4853 15.8308 13.2157 16.3046 12.7088 16.6593C12.2763 16.9621 12.101 17.0614 11.5704 17.3623C11.5097 17.3967 11.4445 17.4337 11.3736 17.4739C10.0199 18.2431 8.63271 17.9822 7.88102 17.8407C7.83467 17.832 7.79075 17.8237 7.74939 17.8162C6.75715 17.6353 5.7137 16.9402 4.80916 16.0871C3.83349 15.1669 2.7972 13.855 1.8574 12.1001C-0.0332021 8.56968 -0.11428 5.48344 0.0632851 4.44905C0.155366 3.91264 0.377274 3.31038 0.67849 2.76835C0.975733 2.23348 1.45254 1.57218 2.16387 1.10241C2.86272 0.640891 3.08665 0.498187 3.5503 0.267086C4.05424 0.0159067 4.54851 -0.00825558 4.84873 0.00182873C5.18399 0.01309 5.50575 0.0758517 5.78987 0.161581C6.29082 0.312738 7.02383 0.643641 7.53773 1.30319C7.84738 1.70061 7.96266 2.13768 8.0032 2.29536C8.0629 2.52757 8.10186 2.76842 8.12854 2.98699C8.18252 3.42919 8.20461 3.93488 8.19668 4.4186C8.1889 4.89393 8.15099 5.42764 8.05633 5.9073C8.00998 6.14217 7.93607 6.43773 7.80765 6.73085C7.7078 6.95878 7.43069 7.53172 6.78987 7.89289C6.7363 7.92309 6.68325 7.95156 6.63104 7.97841ZM4.36756 7.68433C4.55311 8.29107 5.08198 9.4331 5.38688 10.0084C5.69177 10.5837 6.4713 11.8462 6.90539 12.2852C7.33947 12.7242 7.68815 12.619 7.8981 12.5196C7.99603 12.4732 8.11572 12.3629 8.26158 12.2285C8.42842 12.0748 8.62948 11.8895 8.87134 11.7322C9.32463 11.4376 11.633 12.8464 11.9276 13.3829C12.1 13.6969 11.9533 14.7465 11.561 15.0211C11.208 15.2682 11.1075 15.3251 10.5781 15.6255C10.5193 15.6588 10.4551 15.6952 10.3847 15.7353C9.68103 16.1351 8.95879 16.0037 8.10853 15.8487C7.25828 15.6936 5.31836 14.3246 3.62164 11.1563C1.92491 7.98792 1.93885 5.3504 2.03552 4.78725C2.13219 4.22409 2.57448 3.22841 3.267 2.77107C3.95952 2.31373 4.09679 2.22961 4.44334 2.05688C4.78989 1.88414 5.64012 2.12285 5.95894 2.53204C6.27777 2.94122 6.32266 5.86013 5.80696 6.15079C5.54379 6.29912 5.29676 6.38092 5.09355 6.44822C4.89855 6.5128 4.74389 6.56401 4.65399 6.64783C4.65164 6.65003 4.64927 6.65224 4.64688 6.65446C4.4631 6.8257 4.18439 7.08538 4.36756 7.68433Z")
                                .phones__dropdown
                                    .dropdown.dropdown--relative
                                        .phones__phone-more.dropdown__item.color-theme-hover
                                            a.phones__phone-link.text--dark(href="tel:+700000000") +7 000 000-00-00
                                                span.phones__phone-descript.phones__dropdown-title Отдел продаж
                                        .phones__phone-more.dropdown__item.color-theme-hover
                                            a.phones__phone-link.text--dark(href="tel:+700000001") +7 000 000-00-01
                                                span.phones__phone-descript.phones__dropdown-title Бухгалтерия
                                        .phones__phone-more.dropdown__item.color-theme-hover
                                            a.phones__phone-link.text--dark(href="tel:+700000001") +7 000 000-00-02
                                                span.phones__phone-descript.phones__dropdown-title Директор
                                        .phones__dropdown-item.callback-item
                                            .btn.btn-default.btn-wide.btn-posnawr(
                                                data-name="callback"
                                                data-event="jqm"
                                            ) Заказать звонок
                                                span
                                        .phones__dropdown-item
                                            .email__title.phones__dropdown-title E-mail
                                            .phones__dropdown-value
                                                a.email-link.text--dark(href="mailto:mail@medc.allcorp3-demo.ru") mail@medc.allcorp3-demo.ru
                                        .phones__dropdown-item
                                            .addres__title.phones__dropdown-title Адрес
                                            .phones__dropdown-value
                                                .address__text.text--dark Челябинск, ул. Лермонтова 21, 3 этаж, офис 4
                                        .phones__dropdown-item.social-item
                                            .social
                                                ul.social__items
                                                    li.social__item.social__item--image.vk
                                                        a.social__link(
                                                            href="vk.com"
                                                            target="_blank"
                                                            rel="nofollow"
                                                            title="ВКонтакте"
                                                        )
                                                    li.social__item.social__item--image.tel
                                                        a.social__link(
                                                            href="tel.com"
                                                            target="_blank"
                                                            rel="nofollow"
                                                            title="Telegram"
                                                        )
                                                    li.social__item.social__item--image.yt
                                                        a.social__link(
                                                            href="youtube.com"
                                                            target="_blank"
                                                            rel="nofollow"
                                                            title="YouTube"
                                                        )
                                                    li.social__item.social__item--image.vi
                                                        a.social__link(
                                                            href="viber.com"
                                                            target="_blank"
                                                            rel="nofollow"
                                                            title="Viber"
                                                        )
                                                    li.social__item.social__item--image.wh
                                                        a.social__link(
                                                            href="wa.me"
                                                            target="_blank"
                                                            rel="nofollow"
                                                            title="Whats App"
                                                        )

                        .line-block__item
                            .header-eyed(title="Версия для слабовидящих")
                                i.svg.inline.svg-inline
                                    svg.fill--dark.eyed-hidden(
                                        width="20" 
                                        height="18" 
                                        viewBox="0 0 20 18" 
                                        xmlns="http://www.w3.org/2000/svg"
                                        )   
                                        path(
                                            fill-rule="evenodd" 
                                            clip-rule="evenodd" 
                                            d="M4.5 16C5.88071 16 7 14.8807 7 13.5C7 12.1193 5.88071 11 4.5 11C3.11929 11 2 12.1193 2 13.5C2 14.8807 3.11929 16 4.5 16ZM4.5 18C6.98528 18 9 15.9853 9 13.5C9 11.0147 6.98528 9 4.5 9C2.01472 9 0 11.0147 0 13.5C0 15.9853 2.01472 18 4.5 18Z"
                                            )
                                        path(
                                            fill-rule="evenodd" 
                                            clip-rule="evenodd" 
                                            d="M15.5 16C16.8807 16 18 14.8807 18 13.5C18 12.1193 16.8807 11 15.5 11C14.1193 11 13 12.1193 13 13.5C13 14.8807 14.1193 16 15.5 16ZM15.5 18C17.9853 18 20 15.9853 20 13.5C20 11.0147 17.9853 9 15.5 9C13.0147 9 11 11.0147 11 13.5C11 15.9853 13.0147 18 15.5 18Z"
                                            )
                                        path(
                                            fill-rule="evenodd" 
                                            clip-rule="evenodd" 
                                            d="M12 14H8V12H12V14Z"
                                            )
                                        path(
                                            fill-rule="evenodd" 
                                            clip-rule="evenodd" 
                                            d="M5 2C3.34315 2 2 3.34315 2 5V13H0V5C0 2.23858 2.23858 0 5 0H6C6.55228 0 7 0.447715 7 1C7 1.55228 6.55228 2 6 2H5Z"
                                            )
                                        path(
                                            fill-rule="evenodd" 
                                            clip-rule="evenodd" 
                                            d="M15 2C16.6569 2 18 3.34315 18 5V13H20V5C20 2.23858 17.7614 0 15 0H14C13.4477 0 13 0.447715 13 1C13 1.55228 13.4477 2 14 2H15Z"
                                            )
                        .line-block__item
                            .header-search(title="Поиск") 
                                i.svg.inline.svg-inline 
                                    svg.fill--dark(
                                        width="19" 
                                        height="19" 
                                        viewBox="0 0 19 19" 
                                        xmlns="http://www.w3.org/2000/svg"
                                        )
                                        path(
                                            fill-rule="evenodd" 
                                            clip-rule="evenodd" 
                                            d="M8.99805 0.00244141C4.57977 0.00244141 0.998047 3.58416 0.998047 8.00244C0.998047 12.4207 4.57977 16.0024 8.99805 16.0024C10.8468 16.0024 12.549 15.3754 13.9037 14.3223L17.2909 17.7095C17.6815 18.1001 18.3146 18.1001 18.7052 17.7095C19.0957 17.319 19.0957 16.6859 18.7052 16.2953L15.3179 12.9081C16.371 11.5534 16.998 9.85115 16.998 8.00244C16.998 3.58416 13.4163 0.00244141 8.99805 0.00244141ZM2.99805 8.00244C2.99805 4.68873 5.68434 2.00244 8.99805 2.00244C12.3118 2.00244 14.998 4.68873 14.998 8.00244C14.998 11.3161 12.3118 14.0024 8.99805 14.0024C5.68434 14.0024 2.99805 11.3161 2.99805 8.00244Z"
                                            )
                        //.line-block__item
                        //    .header-cabinet
                        //        a.header-cabinet__link(
                        //            title="Войти"
                        //            href="/cabinet/"
                        //            )
                        //            i.svg.inline.svg-inline
                        //                svg.fill--dark(
                        //                    width="18"
                        //                    height="19"
                        //                    viewBox="0 0 18 19"
                        //                    xmlns="http://www.w3.org/2000/svg"
                        //                    )
                        //                    path(
                        //                        fill-rule="evenodd"
                        //                        clip-rule="evenodd"
                        //                        d="M0 7.00244C0 3.13645 3.13401 0.00244141 7 0.00244141H11C14.866 0.00244141 18 3.13645 18 7.00244V11.0024C18 14.8684 14.866 18.0024 11 18.0024H7C3.13401 18.0024 0 14.8684 0 11.0024V7.00244ZM7 2.00244C4.23858 2.00244 2 4.24102 2 7.00244V11.0024C2 12.2874 2.48473 13.4592 3.28131 14.3449C3.81254 12.8325 5.05024 11.6528 6.59842 11.2015C5.62776 10.4717 5 9.31039 5 8.00244C5 5.7933 6.79086 4.00244 9 4.00244C11.2091 4.00244 13 5.7933 13 8.00244C13 9.31039 12.3722 10.4717 11.4016 11.2015C12.9498 11.6528 14.1875 12.8325 14.7187 14.3449C15.5153 13.4592 16 12.2874 16 11.0024V7.00244C16 4.24102 13.7614 2.00244 11 2.00244H7ZM7 16.0024C6.29934 16.0024 5.63233 15.8583 5.02702 15.5981C5.22447 14.1325 6.48027 13.0024 8 13.0024H10C11.5197 13.0024 12.7755 14.1325 12.973 15.5981C12.3677 15.8583 11.7007 16.0024 11 16.0024H7ZM7 8.00244C7 6.89787 7.89543 6.00244 9 6.00244C10.1046 6.00244 11 6.89787 11 8.00244C11 9.10701 10.1046 10.0024 9 10.0024C7.89543 10.0024 7 9.10701 7 8.00244Z"
                        //                        )
                        .line-block__item 
                            .header-button
                                .btn.btn-default.btn-posnawr(data-name="callback") Запись онлайн
                                    span 
